footer.footer 
    .footer__logo 
        img(src="/img/logo-green.png", alt="Natours Logo", srcset="")
    ul.footer__nav 
        li: a(href="#") About Us
        li: a(href="#") Downloads App
        li: a(href="#") Become a Guide 
        li: a(href="#") Careers
        li: a(href="#") Contact
    p.footer__copyright &copy; by Abhishek Devliya, feel free to use for your portfolio